<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <title><%= userMessage.user %> Message</title>
    </head>
    <body>
        <div class="messages">
            <span>
                <p>User: <%= userMessage.user %></p>
                <p>Message: <%= userMessage.text %></p>
                <p>Added: <%= userMessage.added %></p>
            </span>
        </div>
    </body>
</html>