* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.messages {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.messages span {
    display: flex;
    flex-direction: column;
    align-items: center;
}